<html>
    <Title>Home Page</Title>
    <link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/home.css')}}">

    
        
    <div class = "Title">ALGO/FLIGHTS</div>
    <pre class = "Name">Aaron Fleming/Joe Moules/Dixin Ding/Michael Estanilla</pre>
            <!--<embed src="/airports.txt"></p>-->

        
    
    <body>
        
            <!--specifies an input field for type(file)-->
            <!--name is used to reference the element in javascript-->
            <!--id specifies a UNIQUE id for the element-->
            <p type = "button" id = "dijButton" class = "dijButton" onclick = "dijkstraAlgo()">Dijkstra</p>
            <br><br>
            <script type = "text/javascript">
                //document.getElementById("di").onclick = function(){dijkstraAlgo()};
                 var col = document.getElementById("dijButton");
                 
                function dijkstraAlgo(){
                    
                     var t = document.createElement("div");
                     t.innerHTML = `<div class = "dij"">Dijkstra's Algorithm<br>
                                     Time Elapsed: {{timeElapsed}}<br> 
                                 {% for x in range(100): %}
                                     {% if length > x %}
                                         <p>Destination: {{paths[x]}}  &nbsp; &nbsp;    Costs: {{costs[x]}}</p>
                                     {% endif %}
                                    
                                 {% endfor %}
                             </div>`;
                     
                     col.appendChild(t);
         
                }
               
             </script>
            <input type = "file" name = "inputfile" id = "inputfile" class = "inputFile"/> 
            
            
            <br> <!--single line-->
            
            <!--preserves the format of the text-->
            <pre class = "textFile" id = "output"></pre>

            <!--javascript-->
            <script type = "text/javascript">
                //getElementById gets the inputfile
                /*addEventListener is a function that will be called whenever the specified
                event (change) is called*/
                document.getElementById('inputfile').addEventListener('change',function(){

                    //allows to read the file
                    var fr = new FileReader();

                    //onload contains an event handler when readAsText is executed
                    //this function will be called whenever readAsText is called
                    fr.onload = function(){
                        document.getElementById('output').textContent=fr.result;
                    }
                    
                    //readAsText called; above function is called
                    fr.readAsText(this.files[0]);
                })
            </script>
        
    </body>
</body> 
    
    
   

    
    
</html>

