@font-face {
    font-family: Title;
    src: url("AIRLINE.ttf");
}
@font-face {
    font-family: Flipboard;
    src: url("BebasNeue-Bold.otf");
}


.Title{
    font-family: Title;
    margin-left: 425px;
    margin-top: -15px;
    font-size: 75px;
    color:white;
    text-shadow: -5px 5px 5px black;
    
    text-align: center;
    width:600px;
}

.Name{
    font-family: Title;
    margin-left: 425px;
    margin-top: -15px;
    font-size: 20px;
    color:black;

    
    text-align: center;
    width:600px;
}


html{
    background-image:url('/static/images/airport.jpg');
    background-repeat: no-repeat;
    background-size:1400px;
    background-attachment: fixed;

}
.dij{
    font-family: Flipboard;
    font-size: 25px;
    font-weight: 200;
    color:color;
    background-image:linear-gradient(to bottom, white, rgb(88, 206, 245));
    border-width:thicker;
    border-style: solid;
    border-color:black;
    width: 500px;
    text-align:justify;
    padding-left: 12px;
    padding-right: 0px;
    margin-top: 50px;
}


.textFile{
    font-family: Flipboard;
    font-size: 25px;
    font-weight: 200;
    background-color: white;
    width: 250px;
    text-align:center;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -40px;
    margin-left:1100px;
}


.dijButton{
    font-family: Title;
    font-size: 50px;
    background-color:white;
    border-style: solid;
    border-width: thick;
    border-color:black;
    width: 510px;
    height: 100px;
    text-align: center;
    cursor:pointer;

}

.bell{
    font-family: Flipboard;
    font-size: 25px;
    font-weight: 200;
    color:color;
    background-image:linear-gradient(to bottom, white, rgb(88, 206, 245));
    border-width:thicker;
    border-style: solid;
    border-color:black;
    width: 500px;
    text-align:justify;
    padding-left: 12px;
    padding-right: 0px;
  
}

.bellButton{
    font-family: Title;
    font-size: 50px;
    background-color:white;
    border-style: solid;
    border-width: thick;
    border-color:black;
    width: 510px;
    height: 100px;
    text-align: center;
    cursor:pointer;
    margin-left: 40%;
    margin-top: -196px;

    
}

.inputFile{
    font-weight: bolder;
    color:black;
    background-color: white;
    margin-left: 1100px;
    margin-top:-120px;
    width:185px;

}

