html{
    background-image:url('/static/images/airport.jpg');
    background-repeat: no-repeat;
    background-size:1750px;

}
.di{
    font-size: 25px;
    font-weight: 200;
    color:black;
}

.inputfile{
    color:black;
}
.back{
    height:1200px;
    width:600px;
}

